<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <p>Here are the next five upcoming service projects:</p>

    <ul>

    <% projects.forEach(project => { %>

        <li>

            <strong>
                <%= new Date(project.project_date).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                }) %>
            </strong>

            :

            <a href="/project/<%= project.project_id %>">
                <%= project.title %>
            </a>

            (

            <a href="/organization/<%= project.organization_id %>">
                <%= project.organization_name %>
            </a>

            )

            <br>

            <%= project.description %>

            <br>

            <strong>Location:</strong>
            <%= project.location %>

        </li>

        <br>

    <% }) %>

    </ul>

</main>

<%- include('partials/footer') %>